
body {
  background-image: url("money_man.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #cccccc;
  font-family: arial; 
}

h1 {
    color: rgb(167, 255, 14)
}
   

   
